baseURL = "https://news.osodevops.io"
languageCode = "en-us"
title = "Live new updates from the OSO team"
paginate: 20
pygmentsStyle: pygments

permalinks:
  post: /:year/:month/:day/:title/

markup:
  asciidocExt:
    attributes: {allow-uri-read}
    safeMode: unsafe

outputs:
   home:
      - HTML
      - JSON
      - RSS
   page:
      - HTML
   section:
      - HTML
      - RSS
   taxonomy:
      - HTML
      - RSS
   taxonomyTerm:
      - HTML
      - RSS